.well {
    padding: 20px 30px 20px 30px !important;
}

.so-thu-tu {
    width: 44px;
}

thead th {
    vertical-align: middle !important;
}

tbody td,
tbody th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

tbody td:nth-child(1) {
    text-align: center !important;
}

fieldset {
    padding-top: 0px !important;
}

/* .smart-form .label {
    width: 100% !important;
} */

.smart-form fieldset {
    background-color: transparent !important;
}