@media screen and (max-width: 335px) {

    #content>div:nth-child(1)>div:nth-child(2),
    div:nth-child(3) {
        width: 100%;
    }

}

@media screen and (max-width: 767px) {

    .well .row .divider {
        display: block !important;
    }
}

@media screen and (max-width:400px) {
    .page-title h2 {
        font-size: 1.8rem !important;
    }
}

@media screen and (max-width:350px) {
    .page-title h2 {
        font-size: 1.5rem !important;
    }
}


.page-title {
    display: block !important;
}

.page-title h2 {

    max-width: 400px;
    padding: 5px;
    margin: auto;
    font-size: 2rem;
    box-shadow:
        rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;

}


.btn-grad {
    background-image: linear-gradient(to right, #8e9eab 0%, #eef2f3 51%, #8e9eab 100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}


.well .row .divider {
    display: none;
}

fieldset {
    padding-top: 0px !important;
}

.smart-form .label {
    width: 100% !important;
}

.smart-form fieldset {
    background-color: transparent !important;
}


tbody td {
    vertical-align: middle !important;
}

tbody>tr>td:nth-child(1) {
    text-align: center;
}

.table-ban-can-su-lop tbody>tr:nth-child(1) {
    color: red;
    font-weight: bolder;
}


.table-giao-vien tbody>tr:nth-child(odd) {
    background-color: #f0f0f0;
}


tbody>tr>td:nth-child(4)>div {
    background-image: url("../img/avatars_new/2735859.jpg");
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 400px 200px;
    margin: auto;
}

.anh-1 {
    background-position: -25px 0;
}

.anh-2 {
    background-position: -108px 0;
}

.anh-3 {
    background-position: -200px 0;
}

.anh-4 {

    background-position: -280px 0;
}

.well .row p {
    font-size: 15px !important;
}


.so-thu-tu {
    width: 43px;
}

.ten {
    width: 200px;
}

.chuc-vu {
    width: 200px;
}

.avatar {
    width: 200px;
}

.ten-giao-vien {
    width: 150px;
}

.panel-heading:hover {
    background-color: #cacaca !important;
}