.well {
    padding: 20px 30px 30px 30px !important;
}

.change-size {
    width: 700px;
    margin: 0 auto;
}

.page-title {
    display: block !important;
}

.alert {
    border-right-width: 5px !important;
}

fieldset {
    padding-top: 0px !important;
}

.smart-form .label {
    width: 100% !important;
}

.smart-form fieldset {
    background-color: transparent !important;
}