.well {
    padding: 20px 30px 30px 30px !important;
}

.tiet-hoc {
    color: red;
    font-weight: bold;
}

.background-thu-ngay-thang {
    background-color: #cacaca;
}

table {
    border-collapse: separate !important;
    /* table-layout: fixed; */
}

.table thead th {
    border: none !important;
    /* text-align: center; */
}

.table tbody td {

    /* font-weight: normal; */
    cursor: pointer;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    /* white-space: pre-wrap; */
}

.calender {
    margin-bottom: 15px;
}

.calendar-button-left-right {
    margin-bottom: 15px;
}

.calendar-button-lich div button {
    min-width: 18rem !important;
    margin: 5px;
}

.title-month-year {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 30px;
    vertical-align: middle;
}

@media screen and (max-width: 767px) {
    .reponsive-align {
        text-align: center !important;
    }
}