.well {
    padding: 20px 30px 30px 30px !important;
}

.page-title {
    display: block !important;
}

.go-to-school {
    background-color: white;
    cursor: pointer;
}

.go-to-school:hover {
    background-color: rgb(231, 241, 245);
}

tbody th,
td {
    border: 1px solid #99a0a7 !important;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    background-color: #e5e5e5;
    vertical-align: middle !important;
}

tbody>tr>td:nth-child(1) {
    font-weight: bolder;
}