.well {
    padding: 20px 30px 30px 30px !important;
}

.go-to-school {
    background-color: #e5e5e5;
}

.go-to-school:hover {
    background-color: rgb(231, 241, 245);
}

table th,
td {
    border: 1px solid #99a0a7 !important;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}